<div class="item-product-ajax item-product">
  <div class="product-thumb">
    <a href="/admin/products/new" class="product-thumb-link">
      <img src="{{'p1.png'| asset_url}}" alt="">
    </a>
    <a href="#" class="quickview-link plus fancybox.iframe">quick view</a>
    <div class="product-extra-link">
      <a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="#" class="compare-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">new favorite</a></h3>
    <div class="product-price">
      <del><span>$400.00</span></del>
      <ins><span>$360.00</span></ins>
    </div>
  </div>
</div>