<div class="col-md-6 col-sm-6 col-xs-6">
  <div class="item-product3">
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
        <img alt="" src="{{'p1.png'| asset_url}}">
      </a>
      <a class="quickview-link plus pos-middle fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-price">
        <del><span>$80.00</span></del>
        <ins><span>$53.00</span></ins>
      </div>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    </div>
  </div>
  <div class="item-product3">
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
        <img alt="" src="{{'p2.png'| asset_url}}">
      </a>
      <a class="quickview-link plus pos-middle fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-6">
  <div class="item-product3">
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
        <img alt="" src="{{'p3.png'| asset_url}}">
      </a>
      <a class="quickview-link plus pos-middle fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-price">
        <del><span>$80.00</span></del>
        <ins><span>$53.00</span></ins>
      </div>
     <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    </div>
  </div>
  <div class="item-product3">
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
        <img alt="" src="{{'p4.png'| asset_url}}">
      </a>
      <a class="quickview-link plus pos-middle fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
    </div>
    <div class="product-info">
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    </div>
  </div>
</div>